#main_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(23, 59, 103);
}

.logo_header {
  height: 130px;
  margin-bottom: 10px;
}

.logo {
  width: 250px;
  height: auto;
}
.container-div {
  display: flex;
  justify-content: space-between;
  width: 85%;
  height: 600px;
  margin-top:6rem;
  
}

.content-wrapper { 
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  /* outline: 2px solid rgb(0, 255, 102); */
}

.video-section {
  flex-basis: 60%;
}

.video-drop-zone {
  border: dashed 2px rgb(179, 176, 176);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left:10%;
  height: 350px;
}

.video-drop-zone p{
  font-size: 24px;
  font-weight: bold;
  color: rgb(179, 176, 176);
  
}

.query-section {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-left:20%;
  width:60%;
  /* outline: 2px solid rgb(0, 255, 102); */
}

.checkbox-section {
  flex-basis: 40%;
  flex-direction: column;
  gap: 5px;
  margin-top: 15px; /* Added */
  margin-left:20px;
  margin-bottom:330px;
  color: white;
  font-weight:bold;
}

.checkbox-section label {
  display: block;
  white-space: nowrap;
  margin-bottom: 5px;
}

.get-results-button {
  margin-top: 10px;
  width: 100%;
  max-width: 150px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 0.1rem solid rgb(14, 4, 1);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  width: 300px; /* Adjust the width as per your preference */
  text-align: center; /* Center the content horizontally */
}

/* Additional styles */



.video-player {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
}

.video-player-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.main-window-button {
  margin-top: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-custom {
  background-color: #408EC6;
  color: #ffffff;
}

.btn.change-video-button {
  margin-top:0.5rem;
  background-color: white;
  width: 40%;
}





table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 8px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Add this line */
  position: relative;
  cursor: pointer;
  width: 80%;
  height: 2rem;
  border-radius: 0.75rem;
  border: 2px solid #408EC6;
  
}

.checkbox-container input {
  margin-top: 20px;
  margin-left: 40%;
}

.checkmark {
  position: absolute;
  top: 22%;
  left: 93%;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 50%;
}

input[type="checkbox"] {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-container:hover .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked + .checkmark {
  background-color: #1cdeeb;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked + .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  top: 5px;
  left: 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
}

.upload_icon {
  width: 52px;
  margin-left: 8px;
  margin-bottom: 7px;
}

