.signup-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(23, 59, 103);
  
  
}

.image-container {
  flex: 1; /* Take up remaining space */
  display: flex;
  justify-content: left; 
  align-items: center;
  
}

.form-container {
  flex: 1; /* Take up remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%; 
  
}

.form-header {
  display: flex;
  align-items: center;
  
}

.form-container img {
  width: 100px;
  height: 50px;
  
}

h2 {
  margin-right: 10px;
  font-style: italic;
  color: #f0eded;
}

.signup-form {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  background-color: #408EC6;
  border: 2px solid #000;
  width: 60%;
  
}

.form-row {
  margin-bottom: 10px;
}

input[type=text], input[type=email], input[type=password] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-size: 16px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 90px;
  background-color: #185886;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add transition for smooth effect */
}

button:hover {
  background-color: #112d41; /* Update the background color when hovering */
}

.image {
  margin-left:2rem;
  width: 500px; /* Adjust the width to your desired size */
  height: auto; /* The height will adjust proportionally based on the width */
  
}
