body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgb(23, 59, 103);
}

#main_results_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align items to the top */
  margin: 0;
  width: 100vw;
  height: 100%;
  background: rgb(23, 59, 103);
  background-size: 200% 200%;
  
}

.results-wrapper {
  margin-top: 25px;
  width: 90%; 
  display: flex;
  flex-direction: row; 
}


.video-wrapper {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
}


.video-container {
  position: relative;
  width: 600px;
  padding-top: 56.25%; /* 16:9 aspect ratio */
  background-color: black;
}


.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  object-fit: cover;
}

.jump-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.jump-button {
  margin: 5px;
  padding: 10px;
  background-color: #408EC6;
  width:40%;
  border: none;
  cursor: pointer;
}
.download-button {
  margin: 5px;
  padding: 10px;
  background-color: #408EC6;
  width:40%;
  border: none;
  cursor: pointer;
}

.download-button:hover {
  background-color: #105679;
}

.jump-button:hover {
  background-color: #105679;
}

.heat-map-wrapper{
  margin-left: 5%;
}

.jump-button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.jump-button.disabled:hover {
  background-color: #ccc;
}