.user-list-container {
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0077FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    font-size: 18px;
    margin-bottom: 5px;
  }