.container {
    position: relative;
    outline: 2px solid rgb(0, 255, 102); 
  }
  
  .input-field {
    width: 300px; /* Adjust the width as needed */
    padding: 8px;
    border-radius: 2rem;
    outline: 2px solid rgb(53, 51, 209); 
  }
  
  .dropdown-list {
    width: 300px; /* Adjust the width to match the input field */
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  .dropdown-item {
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #f0f0f0;
  }
  